@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #1f1c1c;
    background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #241f1f;
}

.img{
    width: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h3{
    margin-left: 10px;
    margin-top: 29px;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-family: RobotRegular;
}

.navbar{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar a{
    display: block;
    padding: 30px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: RobotMedium;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-right: 30px;
}

.navbar a:hover{
    color: #8b3939;
    font-size: 26px;
}

.navbar li .active{
    color: #20923d;
}

.navbar li .active:hover{
    color: #8b3939;
    font-size: 26px;
}

main{
    color: white;
    font-family: Cascadia;
}

main img {
    display: block;
    margin: auto;
}

main h1 {
    text-align: center;
    font-size: 42px;
}

main h3 {
    font-size: 30px;
    text-align: center;
}

main ul {
    list-style: none;
}

main ul li{
    text-align: center;
    font-size: 32px;
}

.song_picker{
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song_picker div{
    display: inline-block;
    align-items: center;
    margin-left: 16px;
}

.song_picker div span{
    display: flex;
    right: 760px;
}

.song_picker div .middle{
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
}

.song_picker div img{
    transition: all 0.3s ease;
}

.song_picker div img:hover{
    transform: scale(1.1);
} 
